<footer class="navbar fixed-bottom bg-light border-top">
    <div class="container">
        <small class="m-auto">&copy; {{ YEAR }} {{ SITE_NAME }} by <a href="https://johnathanmiller.com" target="new">Johnathan Miller</a>. All Rights Reserved.</small>
    </div>
</footer>