<!DOCTYPE html>
<html lang="en">

{% include 'home/template/header.twig' %}

<body>

    {% if require_nav %}
        {% include 'home/template/nav.twig' %}
    {% endif %}

    {% block content %}
    {% endblock %}
    
    {% include 'home/template/footer.twig' %}

</body>
</html>