<nav class="nav flex-column">
    <a href="https://github.com/johnathanmiller/PHP-MVC-Framework" class="nav-link btn btn-primary">
        <i class="fab fa-fw fa-github"></i> Download on GitHub
    </a>
    <a href="https://johnathanmiller.com" class="nav-link btn btn-link" target="new">
        <i class="fas fa-fw fa-globe-americas"></i>
        johnathanmiller.com
    </a>
</nav>