{% extends 'home/template/main.twig' %}

{% block content %}

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 text-center">
            <div class="content-header">
                <h2>404</h2>
            </div>
            <div class="content-body">
                <p>Looks like we lost our way. <a href="{{ SITE_URL }}">Let's head back!</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}