{% extends 'home/template/main.twig' %}

{% block content %}

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 m-auto">
            <div class="login-form">
                <header>
                    <h2>Login</h2>
                </header>
                
                {% if errors is not empty %}
                    {{ errors | raw }}
                {% endif %}
                
                <form method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" value="{{ form.data.email }}" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    
                    {{ security('renderCSRFInput') | raw }}
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{{ SITE_URL }}" class="btn btn-link">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}